svg {
  margin: 0 auto;
}

line {
  stroke: black;
  stroke-width: 4;
}

#door1 {
  transform-origin: 0% 100%;
}

#door2 {
  transform-origin: 100% 100%;
}

.hide {
  visibility: hidden;
}
* {
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  height: 100%;
}
.main__wrapper {
  display: flex;
  align-items: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: calc(100% - 120px);
  height: calc(100% - 120px);
  margin: 40px;
  padding: 20px;
  background-color: #39684e;
  border-radius: 40px;
}
.drawing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.drawing_text {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
h1 {
  letter-spacing: 1px;
}
.warning {
  width: 200px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.right_guess-text {
  font-size: 40px;
  letter-spacing: 5px;
}
.right__hint {
  letter-spacing: 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.right__guesses {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  width: 280px;
}
.right__virtual-keyboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 280px;
  flex-wrap: wrap;
}
.virtual-keyboard__letter {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #447559;
  border-radius: 4px;
  scale: 1;
  transition: 0.5s;
  font-size: 15px;
}
.virtual-keyboard__letter:hover {
  transform: scale(1.2);
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.virtual-keyboard__letter_disable {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #536e61;
  border-radius: 4px;
  scale: 1;
  transition: 0.5s;
  font-size: 15px;
}

/* window */
.window {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 2;
}
.window__wrap {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #39684e;
  border-radius: 20px;
}
.win-loose {
  font-size: 30px;
}
.guess-word {
  font-size: 30px;
  font-weight: 700;
}
.play-again {
  cursor: pointer;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #536e61;
  border-radius: 20px;
  scale: 1;
  transition: 0.5s;
}
.play-again:hover {
  scale: 1.2;
  transition: 0.5s;
}
